/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');

    font-weight: normal;
    font-style: normal;
}

/*Basic style rule to outline and space block-level elements */
[class*="span"] {
    background: #eee;
    margin-bottom: 10px;
}

/* -----------------------------------------------
    Basic general settings
-------------------------------------------------- */

body {
    padding-top: 70px;
    height: 100%;
    overflow-x:hidden;
    background-color: #fdf6e3;
    /*background-color: #EEE5DB;*/
	/*background-color: #E6E3BB;*/
    /*background-color: #EFEACC;*/
    /*background-color: #CFC19E;*/
    /*background-color: #D4C9AD;*/
    /*background-color: #F1ECDF;*/
}

html {
    height: 100%;
}

#wrap {
    min-height: 100%;
    max-width: 1200px;
    /*overflow-y: auto;*/
    padding-bottom: 200px;
    margin-right: 0px;
    padding-right: 0px;
    -webkit-transition: margin-top .4s ease;
    -moz-transition: margin-top .4s ease;
    -o-transition: margin-top .4s ease;
    transition: margin-top .4s ease;
}

/*#container {
    overflow-y: auto;
    padding-bottom: 200px;
    margin-right: 0px;
    padding-right: 0px;
}*/

/* ----------------------------------
    changing the style of well
------------------------------------- */
.well {
    /*background-color: #f5f5f5;
    border: 1px solid #e3e3e3;*/
	/*background-color: #C67170;*/
    /*background-color: #eee8d5;*/
    background-color: #2B4E72;
}
.well blockquote {
    border-color: #2B4E72;
	/*border-color: #eee8d5;*/
  /*border-color: #e6e3bb;*/
}

/* ----------------------------------
    Changing the style of jumbotron
------------------------------------- */
.jumbotron {
    /*background-image:url('http://lorempixel.com/b/1000/500/')*/
    background-color: #fdf6e3;
    /*background-color: #EEE5DB;*/
	/*background-color: #fff;*/
    border-bottom: 2px solid #777;
}

/* -----------------------------------------------
    Changing the background color of the navbar
-------------------------------------------------- */
/*.navbar-default {
  /*background-color: #f8f8f8;
  border-color: #e7e7e7;*/
  /*background-color: #eee8d5;
  border-color: #eee8d5;
}





.navwidth {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.navpadding {
    padding-right: 25px;
}*/

/*media query fix for navbar*/
/*@media (max-width: 1050px)
{
    .navbar-header
    {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    	height: 150px;
        overflow-y: auto;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  	display:block !important;
    }
}*/


/*end of navbar fix*/

/*#brand {
    font-family: 'Lobster', cursive;
    color: #2B4E72;
    /*color: #063E6D;*/
    /*color: #024E6E;*/
    /*color: #002E48;*/
/*}*/


img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*height: auto;*/
    max-height: 350px;
    width: 100%;
    max-width: 600px;
    /*min-width: 300px;
    min-height: 200px;*/
}

/* ----------------------------------------
    front page body content
------------------------------------------- */
.media {
    width: 100%;
}

.media-image {
    width: 85%;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.media-body {
    width: 85%;
    min-width: 350px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2B4E72;
    border-radius: 0px 0px 10px 10px;
}

.media-heading {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    color: #fdf6e3;
}

/* -----------------------------------
    media query for main content
-------------------------------------- */
@media (max-width: 480px)
{
    img.displayed
    {
        margin: 0px;
        max-width: 95%;
        min-width: 350px;
        margin-left: auto;
        margin-right: auto;

    }
    .jumbotron {
        padding: 0px;
    }

}

@media (min-width: 1200px)
{
    #wrap {
        margin-left: auto;
        margin-right: auto;
    }
}

/* -------------------------------------
    Caption for index
----------------------------------------*/
.caption-contain {
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2B4E72;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
}

.thumbnail-contain {
    background-color: #fdf6e3;
    border: none;
}

.caption-heading {
    color: #fdf6e3;
}
.caption-heading:hover {
    color: #dbc3a3;/*#d2b48c;*/
    cursor: pointer;
}



#contentwrap {
    width: 100%;
}

/*-----------------------------------------
    Style for About page
-------------------------------------------*/
#sidebar {
    /*background: #fff;*/
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#sidebar > ul {
    list-style-type: none;
    font-size: 16px;
    padding-left: 0px;
}
#sidebar > ul > li {
    text-align: center;
}
#sidebar > ul > li > a {
    color: #fdf6e3;
}
#sidebar > ul > li > a:hover {
    text-decoration: none;
    color: #d2b48c;/*#CFC19E;*/
    border-bottom: 1px solid #4A0015;
}

.content-header > a {
    color: #333;/*#2B4E72;*/
}
.content-header > a:hover {
    text-decoration: none;
}

/*-----------------------------------------
    Style for Contact Us Page
-------------------------------------------*/
#contact-content {
    border-right: 2px solid #999;
}

#contact-header-contain {
    width: 35%;
    min-width: 275px;
    margin-left: auto;
    margin-right: auto;
}

#contact-subheader-contain {
    width: 55%;
    min-width: 315px;
    margin-left: auto;
    margin-right: auto;
}

#contact-name {
    border: none;
    border-bottom: 1px solid #999;
}

/*-----------------------------------------
    Style for Testimonial page
-------------------------------------------*/
.testcontent {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.quote {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.testname {
    font-family: 'Lato', sans-serif;
    color: #fdf6e3;

}
.testtext {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    text-align: center;
    color: #fdf6e3;
}
/*.testtext2 {
    font-family: 'Gilda Display', serif;
    font-size: 18px;
    text-align: center;
}*/
.testbreak {
    border: none;
    height: 2px;
    color: #d3d3d3;
    background-color: #d3d3d3;
}

/*End Testimonial page*/

/*#footer {
    position: relative;
    margin-top -150px;
    height: 150px;
    clear: both;
}

.div1 {
    height: 100%;
    width: 50%;
    float: left;
    border-right: 2px solid grey;
}

.div2 {
    height: 100%;
    width: 50%;
    float: left;
    padding-left: 15px;
}*/

/*Opera Fix*/
body:before {
    content:"";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}
